#gallery {
    display: none;
}

#gallery1 {
    display: none;
    background: darkred;
}

#gallery2 {

}
#gallery3 {

}
#gallery4 {

}
#gallery5 {

}
#gallery6 {

}

.para-container-1 {
    //position: relative;
    margin-top: 7rem;
}
//
.para-container-2 {
    //position: relative;
    margin-top: 7rem;

}
//
//.para-box-1 {
//    position: absolute;
//    width: 100%;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//}
//
//.para-box-2 {
//    position: absolute;
//    width: 100%;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//}

.test-class {
    background: chocolate;
    font-size: 3rem;
}

