#gallery {
    display: none;
}

#gallery1 {
    display: none;
    background: darkred;
}

#gallery2 {

}
#gallery3 {

}
#gallery4 {

}
#gallery5 {

}
#gallery6 {

}

.test-class {
    background: chocolate;
    font-size: 3rem;
}